<div>
    <%= image_tag(@user.avatar, width: 120, class: "rounded-cirlce") %>
    <div>
      <strong class="text-white"><%= @user.name %></strong>
    </div>
</div>

<style type="text/css">
  .rounded-cirlce{
    border-radius: 50%;
  }
  .text-white{
    color: white;
  }
  .no-video{
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
